
.expression__input {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 10px;

}

.calculator__button-group {

  margin-top: 20px;
}
.instructions{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 20px;
}